__tests__
docs
scripts
lib
es

# dependencies
node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# production
dist
docs-dist
coverage

# misc
.DS_Store

# umi
src/.umi
src/.umi-production
src/.umi-test
.env.local

#special
iconfont.js
iconfont2.js